<!DOCTYPE html>
<html>
  <head>
    <title>MetaRuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'custom', media: 'all' %>
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap', media: 'all' %>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
     <%= render 'layouts/top_nav'%>
    <%= yield %>
  </body>
</html>
